* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.events-container
{
    position: relative;
    width: 90vw;
    height: 80vh;
    left:5vw;
    top:5vh;
}

.filter-wrapper
{
    position: relative;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    height: 7%;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.page-title
{
    flex:4;
    position: relative;
    top:50%;
    left:50px;
    transform: translateY(-50%);
    width: fit-content;
    height: fit-content;
    font-weight: 700;
    color:#666;
}

.actions-wrapper
{
    flex:1;
    display: flex;
    justify-content: space-around
}

#search-input
{
    position: relative;
    height: 50%;
    border: none;
    background: white;
    border-radius: 15px;
    padding: 3px 20px;
    top:50%;
    color:#555;
    transform: translateY(-50%);
    font-size: 90%;
    transition: .25s ease;
}


.search-input:focus
{
    outline: none;
    font-size: 85%;
}


.filter-button
{
    position: relative;
    background-color: #FE4F4F;
    height: fit-content;
    top:50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    border-radius: 15px;
    color:white;
    font-weight: 600;
    font-size: 80%;
    cursor: pointer;
    transition: .25s ease;
}


.filter-button:hover
{
    transform:translateY(-50%) scale(1.1);
}

.event
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 20vw));
    grid-gap: 50px;
    justify-content: center;
}

.event-container
{
    padding: 100px 0;
}

.top
{
    position: relative;
    height: 25%;
    background-color: rebeccapurple;
    padding: 30px;
    box-shadow: 0px 0 30px black;
    overflow: hidden;
    margin-bottom: 25px;
}

.event-title
{
    position: relative;
    top:95%;
    font-size: 150%;
    letter-spacing: 5px;
    font-weight: 900;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    color:white;
}

.bottom
{
    padding: 20px;
    height: 55%;
}

.description
{
    color:#444;
    font-weight: bold;
    text-indent: 50px;
    margin-bottom: 15px;
}

.timingContainer
{
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    position: relative;
    top:40%;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    margin-bottom: 30px;
}

.ageLimit
{
    background-color:white;
    width: 100%;
    padding: 10px;
    position: relative;
    left:45%;
    top:48%;
    transform: rotate(-45deg);
    text-align: center;
    color:black;
    font-weight: bold;
    font-size: 150%;
    transition: .25s ease;
}

.ageLimit:hover
{
    box-shadow: 0 0 15px white;
}

.infoFooter
{
    position: relative;
    top:50%;
    margin:0 10%;
    display: flex;
    justify-content: space-evenly;
}

.theme
{
    color:#333;
    position: relative;
    font-weight: 800;
}

.join-button
{
    border: none;
    padding: 3% 10%;
    font-weight: 900;
    border-radius:15px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.089);
    transition: .25s ease;
    cursor: pointer;
    transform: translateY(-4%);
    font-size: small;
}

.join-button:hover
{
    background-color: rgb(104, 247, 104);
    box-shadow: 0 0 15px rgb(104, 247, 104);
}

.info-container
{
    position: relative;
    top:30%;
}
