.left-side-container{
    position: relative;
    height: 70vh;
    width: 50vw;
    left:10vw;
    top:15vh;
}

.title-left-side
{
    font-size: 4rem;
    color:#333;
    z-index: 4;
    text-align: center;
    font-weight: 800;
}

.input-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    left:50%;
    transform: translateX(-50%);
    top:0%;
}

.input
{
    margin-top: 20px;
}

.input-text
{
    border:none;
    background-color: rgba(0,0,0,.05);
    padding: 10px 25px;
    font-size: 80%;
    border-radius: 25px;
    transition:.25s ease;
    color:#333;
    
}

.input-text:focus{
    background: rgba(0,255,163,.5);
    outline: none;
    transform: scale(1.1);
    letter-spacing: 1px;
    
    color:#555;
    
}

.submit-button
{
    position: relative;
    width: fit-content;
    left:50%;
    transform: translateX(-50%);
    border:none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(35,152,177);
    background: linear-gradient(45deg, rgba(0,255,163,1) 0%, rgba(35,152,177,1) 80%);
    color:white;
    font-weight: 700;
    font-size: 80%;
    margin-top: 50px;
    transition: .25s ease;
}

.submit-button:hover
{
    transform: translateX(-50%) scale(1.1);
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
    
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
    
    
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
    
    
    
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
    
}

label:active:after {
	width: 100px;
}
.checkbox-container
{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.checkbox-text
{   width: 100%;
    margin-right: 5px;
    font-size: 90%;
    transition:.25s ease;
    text-align: left;
    vertical-align: middle;
    
}

@media screen and (max-width: 992px) {
    .input-container
    {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        left:50%;
        transform: translateX(-50%);
        top:10%;
    }

    .left-side-container{
        width: 100vw;
        left:0;
    }

    .input-text
    {
        font-size: 80%;
    }
    .checkbox-container
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
    .checkbox-text
{ 
    font-size: 80%;
}
}

@media only screen and (max-width: 600px) {
    .input-container
    {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        left:50%;
        transform: translateX(-50%);
        top:20%;
    }

    .left-side-container{
        width: 100vw;
        left:0;
    }

    .input-text
    {
        font-size: 80%;
    }
    

.center {
    position: absolute;
    top: 0;
}
}











