<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="../navbarOrganizator/style/style.css">
    <link rel="stylesheet" href="../../components/event//style/style.css">
    <link rel="stylesheet" href="../../components/event//style/left-side-style.css">
    <link rel="stylesheet" href="../../components//event//style/right-side-event.css">

    <title>CreareEvents</title>
</head>

<body>
    <nav></nav>
    <div class='signup-container'>
        <div class='left-container'>
            <h1>
                Create your own event
            </h1>
        </div>

        <div class='right-container'>
            

            <header>
                <h1>Let's start ! It's time for the best party in town.</h1>
                <div class='set'>
                    <div class='event-title-name'>
                        <label for='event-name-id'>Event Name:</label>
                        <input id='event-name-id' name="title" placeholder="Event Title" type='text'>
                    </div>
                </div>
                <div class="set">
                    <div class='event-description'>
                        <label for='event-description-id'>Description:</label>
                        <input id='event-description-id' name="description" placeholder="Event Description" type='text'>
                    </div>
                </div>
                <div class='set'>
                    <div>
                        <label for="theme">Theme:</label>
                        <select id="event-theme-id" name="theme">

                        </select>
                    </div>
                </div>
                <div class='set'>

                    <div class="event-start-date">
                        <label for="event-date-start-id">Start Date:</label>
                        <input type="date" id="event-date-start-id" name="dateStart">
                    </div>
                    <div class="event-end-date">
                        <label for="event-date-end-id">End Date:</label>
                        <input type="date" id="event-date-end-id" name="dateEnd">
                    </div>
                </div>
                <div class='set'>
                    <div>
                        <label for="event-age-limit-id">Age limit:</label>
                        <select id="event-age-limit-id" name="ageLimit">
                        </select>
                    </div>
                </div>
            </header>
            <footer>
                <div class='set'>
                    <button id='next' onclick="submitNewEventAction()">Submit</button>
                </div>
            </footer>
        </div>
    </div>
    <div id="error"> </div>

    <script src="./scripts/script.js">

    </script>
    <script src="../../../routes.js">
    </script>
    <script>

        function selectOptionCreate() {

            var min = 12,
                max = 30,
                select = document.getElementById('event-age-limit-id');

            for (var i = min; i <= max; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                opt.innerHTML = i;
                select.appendChild(opt);
            }
        }

        selectOptionCreate();

        document.addEventListener('DOMContentLoaded', (event) => {
            setTimeout(() => {
                var buttons = document.querySelectorAll(".button");
                buttons.forEach((e, x) => {
                    e.addEventListener("click", (focusButton) => {
                        buttons.forEach((element, index) => {
                            element.classList.remove("btn-primary");
                        })
                        //console.log("dadaadad");
                        //focusButton.srcElement.classList. // = [...focusButton.srcElement.classList, "btn-primary"];
                        e.classList.add("btn-primary");
                    })
                })
            }, 1000);
        })


        function setCorrectTabl() {
            var buttons = document.querySelectorAll(".button");
            buttons.forEach((element, index) => {

                if (element.innerHTML != "About")
                    element.classList.remove("btn-primary");
            })
        }

    </script>
</body>

</html>