<div class="event-wrapper">
    <div class="left-side-event">
        <div class="event-title">Event name</div>
        
        <div class="time-wrapper">
            <div class="time-icon">
                <div class="circle-time"></div>
                <div class="line"></div>
            </div>
            <div class="start-date">22.03.2022</div>
        </div>
    </div>

    
    <div class="right-side-event">
        <div class="descripiton">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, temporibus ducimus necessitatibus incidunt ratione aperiam quasi deserunt molestias mollitia minima autem voluptas, delectus voluptates voluptatum at et magni sint neque repellendus quae dolor doloremque omnis veritatis dolorum. Non numquam quod qui minima possimus exercitationem, labore incidunt alias ducimus, deserunt molestias.
        </div>
        <div class="actions-wrapper">
            <div class="join-wrapper">
                <div class="join-text">Join</div>
                <img src="../../../resources/icons/play-button.png" alt="play" class="play-icon">
            </div>
            <div class="icons-wrapper">
                <img class="icon-style" src="../../../resources/icons/share.png" alt="facebook">
                <img class="icon-style" src="../../../resources/icons/facebook.png" alt="facebook">
                <img class="icon-style" src="../../../resources/icons/instagram.png" alt="facebook">
                <img class="icon-style" src="../../../resources/icons/twitter.png" alt="facebook">
            </div>
        </div>
        
    </div>
</div>
