<div class="event-wrapper">
     <div class="top">
        <p class="event-title">Title</p>
        <div class="ageLimit">16</div>
     </div>
     <div class="bottom">
         <div class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta voluptates optio consequuntur, mollitia expedita numquam.</div>
         <div class="info-container">
            <div class="timingContainer">
                <div class="timing-begin">20.10.2021</div>
                <div class="timing-end">20.11.2022</div>
             </div>
             <div class="infoFooter">
                <div class="theme">testTheme</div>
                <button class="join-button">JOIN</button>
             </div>
         </div>
         
     </div>
</div>
