* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-side
{
    position: absolute;
    width: 70vw;
    height: 100vh;
    background-color: white;
}

.right-side
{
    position: absolute;
    overflow: hidden;
    width: 30vw;
    height: 100vh;
    background-color: blue;
    left: 70vw;
    background: rgb(35,152,177);
    background: linear-gradient(45deg, rgba(0,255,163,1) 0%, rgba(35,152,177,1) 80%);
    box-shadow: -15px 0px 10px rgba(4, 160, 103, 0.247);
}


.logo
{
    position: absolute;
    left:5vw;
    top:5vh;
    font-weight: 800;
    font-size: 1.7rem;
    background: -webkit-linear-gradient(45deg, #FFF 0%, #000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 992px) {
    .right-side{
        display: none;
    }

    .left-side
    {
        width: 100vw;
    }
}


@media only screen and (max-width: 600px) {
    .right-side{
        display: none;
    }

    .left-side
    {
        width: 100vw;
    }
}
