.event-title
{
    position: relative;
    text-align: center;
    top:10%;
    font-size: 200%;
    font-weight: 700;
    color: white;
}

.time-wrapper
{
    position: relative;
    top:60%;
    width: 10%;
    left:70%;
    display: flex;
}

.start-date
{
    position: relative;
    left:80%;
    top:64%;
    color: #FFF;
}

.time-icon
{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.circle-time
{
    position: relative;
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
}

.line
{
    position: absolute;
    width: 45px;
    top:50%;
    transform: translate(5%, -50%);
    background-color: white;
    height: 3px;
}