.right-side-event
{
    position: relative;
    width: 70%;
    height: 100%;
    left:30%;
    z-index: 2;
    padding: 20px;
}

.icons-wrapper
{
    position: absolute;
    height: 17%;
    top:60%;
    padding-right: 50px;
    display: flex;
    left: 75%;
}

.icon-style
{
    margin-right: 10px;
    transition: .25s ease;
    cursor: pointer;
}

.icon-style:hover
{
    transform: scale(1.15);
}

.join-wrapper   
{
    position: absolute;
    width: 10%;
    right: 10%;
    top:20%;
    padding: 5px 15px;
    border-radius: 15px;
    border: 5px solid black;
    display: flex;
    transition: .25s ease;
    cursor: pointer;
}

.join-text
{
    flex:1;
    font-size: 250%;
}

.play-icon {
    height: 45px;
}

.join-wrapper:hover
{
    transform: scale(1.1);
    background: rgba(35,152,177,1);
}

.descripiton
{
    position: absolute;
    width: 50%;
    left:20%;
    top:40%;
    transform: translateY(-50%);
    font-size: 110%;
}
