<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <title>MaBOr</title>
</head>
<body>
    <div class="page-container">
     <div class="title">MaBOr</div>
     <ul>
       <li><a href="#" data-text="Login" onclick="navigate('login')">Login</a></li>
       <li><a href="#" data-text="Register" onclick="navigate('register')">Register</a></li>
       
       
    </ul>
</div>


    <script>
        function navigate(page)
        {
            if(page == 'events')
            {
                window.location.href = "http://127.0.0.1:5500/ProiectTW/Frontend/views/pages/events/events.html";
                return;
            }
            if(page == 'about')
            {
                window.location.href = "http://127.0.0.1:5500/ProiectTW/Frontend/views/pages/about/about.html";
                return;
            }
            window.location.href = "http://127.0.0.1:5500/ProiectTW/Frontend/views/authentification/"+page+"/"+page+".html";
        }
    </script>
</body>
</html>