<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="../navbar/style/style.css">
    <link rel="stylesheet" href="../../components/event//style/style.css">

    <title>Events</title>
</head>

<body>
    <nav></nav>

    <div class="events-container">
        <div class="filter-wrapper">
            <div class="page-title">Attending Events</div>
            <div class="actions-wrapper">
                <select id="search-input">
                    <option value="volvo">Volvo</option>
                  </select>
                <div class="filter-button">Filter</div>
            </div>
        </div>
        <div class="event-container">
            <div id="events"></div>
        </div>
    </div>


    <script src="./scripts/readEvents.js"></script>
    <script src="../../../routes.js"></script>
    <script src="../../../request.js"></script>

    <script src="../../../helpersScripts/logout.js"></script>
    <script src="../../../helpersScripts/guard.js"></script>
    <script src="./scripts/script.js"></script>

    <script>
        fetch("../navbar/navbar.html")
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.querySelector("nav").innerHTML = data;
            });

        // fetch("../../components/event/event.html")
        // .then(response => {
        //     return response.text()
        // })
        // .then(data => {
        //     for(var i = 0; i<13; i++)
        //         document.querySelector(".event").innerHTML += data;
        // });
    </script>
</body>

</html>